.wrap-banner {
  display: flex;
  max-width: 1200px;
  margin: 40px auto; }
  .wrap-banner__item {
    overflow: hidden;
    position: relative; }
    .wrap-banner__item:first-child {
      margin-right: 25px; }
    .wrap-banner__item img {
      width: 100%;
      transition: 1s;
      display: block; }
      .wrap-banner__item img:hover {
        transform: scale(1.2); }
    .wrap-banner__item .wrap-banner__content--title {
      color: #272727;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      line-height: 0.9;
      font-size: 32px;
      margin-top: 0;
      margin-bottom: 2.3rem;
      text-transform: uppercase; }
    .wrap-banner__item .wrap-banner__content--btn {
      background-image: none;
      background: #ee3427;
      border: 2px solid #ee3427;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 700;
      padding: 16px 20px;
      font-size: 1.4rem;
      line-height: 1.6rem;
      box-sizing: border-box;
      vertical-align: middle;
      text-transform: uppercase;
      transition: 0.5s; }

.left-style {
  left: 25%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }
  .left-style span:hover {
    border: 2px solid #222;
    background-color: #222;
    transition: 0.5s; }

.right-style {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .right-style h1 {
    color: #fff !important; }
  .right-style .btn-seson {
    background-image: none;
    background: 0 0;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 16px 20px;
    font-size: 1.2rem;
    line-height: 1.6rem;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 0;
    text-transform: uppercase;
    transition: 0.5s; }
    .right-style .btn-seson:hover {
      border: 2px solid #222;
      color: #222;
      transition: 0.5s; }

@media (min-width: 768px) and (max-width: 990px) {
  .wrap-banner {
    padding: 0 10px; }
  __content--title {
    font-size: 20px !important; }
  .wrap-banner__content--btn {
    font-size: 14px !important;
    padding: 10px 14px !important; } }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .wrap-banner {
    flex-direction: column; }
  .wrap-banner__item:first-child {
    margin-right: 0;
    margin-bottom: 25px;
    padding: 0 10px; }
  .wrap-banner__content--title {
    font-size: 26px !important; }
  .d-none {
    display: none !important; }
  .wrap-banner__item {
    padding: 0 10px; }
  .right-style h1 {
    text-align: center; }
  .right-style {
    text-align: center !important; }
  .wrap-banner__content--btn {
    padding: 10px 14px !important;
    font-size: 14px !important; }
  .left-style {
    left: 30%; } }

/*# sourceMappingURL=section-catalog.css.map */
