@import "./colors";


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 1200px;
  margin: 38px auto;
  gap: 25px;
}

.blog-title {
  color: #272727;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.2;
  font-size: 1.8rem;
  margin-top: 1.725rem;
  margin-bottom: 1.15rem;
  max-width: 1200px;
  margin: 25px auto;

}

.blog-item {
  &__img {
    img {
      width: 100%;
    }
  }

  // .blog-item__title

  &__title {
    color: #272727;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size: 1.8rem;
    margin-top: 15px;

    a {
      color: #222;
      text-decoration: none;
    }

    a:hover {
      color: $nav-hover;
    }
  }

  // .blog-item__text

  &__text {
    color: #777;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.64285714;
    font-size: 1.0rem;
    padding: 15px 0;
    display: inline-block;
  }
}


.brand-logo {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    width: 200px;
    padding: 0 10px;
    opacity: 0.3;
    transition: 0.5s;

    img {
      width: 100%;
    }
  }

  &__item:hover {
    opacity: 1;
  }
}

@media (min-width: 991px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 990px) {
  .blog-title {
    font-size: 20px;
    padding: 0 10px;
  }
  .grid{
    padding: 0 10px;
    grid-template-columns: 1fr;
  }

  .blog-item__title {
    font-size: 20px;
  }
  .blog-item__date {
    color: #222;
  }
  .blog-item {
    margin-bottom: 30px;
  }
  
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .blog-title {
    font-size: 20px;
    padding: 0 10px;
  }
  .grid {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }
  .blog-item__title {
    font-size: 20px;
  }
}