

.wrapper {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  background-image: url('/img/bg.jpg');
  background-size: cover;
  height: 1055px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.title {
  text-align: center;
  color: #fff;
  padding: 80px 0;
  font-size: 48px;
}


.slider {

  // .slider__item

  &__item {
    img {
      margin: auto;
      padding: 0 70px;
     }
  }

  // .slider__item--title

  &__item--title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    padding-bottom: 30px;
    text-transform: uppercase;
    color: #fff;
  }
}

.container {
  
  max-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.01) 51%);
  height: 400px;
  top: -100px;
  position: relative;
  z-index: -1;

  &__title {
    text-align: center;
    padding: 30px 5px;
    font-size: 21px;
    color: #fff;
  }

  // .container__price

  &__price {
    text-align: center;
    position: relative;
  }

  // .container__price--old

  &__price--old {
    position: absolute;
    font-size: 24px;
    text-decoration: line-through;
    color: #fff;
    top: -15px;
    right: -25px;
  }

  // .container__price--new

  &__price--new {
    font-size: 60px;
    color: #fff;
    
  }

  // .container__box

  &__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
    color: #fff;
  }

  // .container__box--quantity

  &__box--quantity {
    margin-right: 20px;
  }

  // .container__box--basket

  &__box--basket {
    cursor: pointer;
    margin-left: 20px;
  }
}
.fas {
  border: 3px solid #fff;
  padding: 10px 18px;
  border-radius: 26px;
}

.fa-shopping-cart {
  font-size: 24px;
  
}

.log {
  position: absolute;
  top:58%;
  left:50%;
  transform:translate(-50%, -50%);
  
}


.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slider {
  position: relative;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 34px;
  height: 36px;
  border-color: #fff;
  border-radius: 3px;
  margin: 15px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url(../img/arrow.png) 0 0 no-repeat;
  cursor: pointer;
  display: none;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url(../img/arrow2.png) 0 0 no-repeat;
  cursor: pointer;
  display: none;
}


.slider .slick-dots {
  display: flex;
  position: absolute;
  right: 6%;
  bottom: 40px;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0 7px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 16px;
  background-color: #fff;
  border-color: transparent;

  border-radius: 50%;

  &:hover {
    background-color: #222;
    transform: scale(1.1)
  }
}

.slider .slick-dots li .slick-active button {
  background-color: #222;
  border: 4px solid #fff;
}

.customSelect {
  position: relative;
  min-width: 80px;
  text-align: center;
  display: inline-block;
  color: white;
  ul {
    display: none;
    position: absolute;
    padding: 5px;
    box-sizing: border-box;
    margin: 0;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border-radius: 2px;
    top: 100%;
    left: 0;
    max-height: 122px;
    overflow: auto;
    transition: all 0.3s ease;
    li {
      list-style: none;
      padding: 5px 0;
      transition: background 0.2s ease;
      text-align: left;
      span {
        padding: 5px 10px;
        border-radius: 2px;
        &:hover {
          background: rgba(0, 0, 0, 0.1);
          cursor: pointer;
        }
      }
    }

  }
  & > .selected {
    border-radius: 4px;
    position: relative;
    transition: background 0.2s ease;
    cursor: pointer;
    .arrow {
      display: block;
      content: '';
      position: absolute;
      right: 25px;
      top: 6px;
      border: 4px solid;
      border-color: white transparent transparent transparent;
    }
    .line {
      display: block;
      width: 50%;
      height: 2px;
      background: white;
      transform: translateX(50%);
      margin-top: 3px;
    }
  }
}

@media screen and (min-width: 900px) {
  
}